<!DOCTYPE html>
<html lang="ko">
  <%- include head.ejs %>
  <script>
    var id='<%=id%>',gen='<%=gen%>';
  </script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <body>
    <%- include nav.ejs %>
    <div id="content" class="container">
      <div class="row row-menu">
        <ol class="breadcrumb">
          <li><a href="/run-list/">결과 목록</a></li>
          <li ><a href="/run-detail/<%=id%>"><%=id%></a></li>
          <li ><a href="/run-gene/<%=id%>/select">유전자 정보</a></li>
          <li class="active"><a href="#"><%=gen%>세대</a></li>
        </ol>
      </div>
      <div class="row">
          <h1><%=title%></h1>
      </div>
      <div class="row">
          <h3><%=info.length%>개 유전자</h3>
      </div>
      <p></p>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title" id="div-gene-summary-title">유전자 정보</h3>
          </div>
          <div class="panel-body" id="div-gene-summary">
              유전자를 선택해주세요!
          </div>
        </div>
      </div>
      <div class="row" id="div-jump">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title" id="div-title">강의실 시간표로 바로가기</h3>
          </div>
          <div class="panel-body">
            <%for(room in meta['rooms']) {%>
              <a href="#ttinfo-r<%=meta['rooms'][room]['id']%>"><%=meta['rooms'][room]['name']%>&nbsp;</a>
            <%}%>
          </div>
        </div>
      </div>
      <div class="row div-gene-info">
          <div class="col-xs-8">
            <table class="table" id="tt">
              <thead>
                <tr>
                    <th></th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=1;i<13;i++) {%>
                  <tr style="height: 80px">
                    <th style="width: 10%"><%=i%>교시</th>
                    <td class="timetable-item" id="tt-mon-<%=i%>" data-day="0" data-period="<%=i%>"></td>
                    <td class="timetable-item" id="tt-tue-<%=i%>" data-day="1" data-period="<%=i%>"></td>
                    <td class="timetable-item" id="tt-wed-<%=i%>" data-day="2" data-period="<%=i%>"></td>
                    <td class="timetable-item" id="tt-thu-<%=i%>" data-day="3" data-period="<%=i%>"></td>
                    <td class="timetable-item" id="tt-fri-<%=i%>" data-day="4" data-period="<%=i%>"></td>
                  </tr>
                <%}%>
              </tbody>
            </table>
            <%for(room in meta['rooms']) {%>
              <div class="panel panel-info" id="ttinfo-r<%=meta['rooms'][room]['id']%>">
                <div class="panel-heading">
                  <h3 class="panel-title" id="div-title">강의실 시간표 - <%=meta['rooms'][room]['name']%></h3>
                </div>
                <div class="panel-body" id="div-gene-summary">
                  <table class="table" id="tt-r<%=meta['rooms'][room]['id']%>">
                    <thead>
                      <tr>
                          <th></th>
                          <th>월</th>
                          <th>화</th>
                          <th>수</th>
                          <th>목</th>
                          <th>금</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%for(var i=1;i<13;i++) {%>
                        <tr style="height: 80px">
                          <th style="width: 10%"><%=i%>교시</th>
                          <td class="timetable-item" id="tt-r<%=meta['rooms'][room]['id']%>-mon-<%=i%>" data-day="0" data-period="<%=i%>"></td>
                          <td class="timetable-item" id="tt-r<%=meta['rooms'][room]['id']%>-tue-<%=i%>" data-day="1" data-period="<%=i%>"></td>
                          <td class="timetable-item" id="tt-r<%=meta['rooms'][room]['id']%>-wed-<%=i%>" data-day="2" data-period="<%=i%>"></td>
                          <td class="timetable-item" id="tt-r<%=meta['rooms'][room]['id']%>-thu-<%=i%>" data-day="3" data-period="<%=i%>"></td>
                          <td class="timetable-item" id="tt-r<%=meta['rooms'][room]['id']%>-fri-<%=i%>" data-day="4" data-period="<%=i%>"></td>
                        </tr>
                      <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            <%}%>
          </div>
          <div class="col-xs-4">
            <% for(i=0;i<info.length;i++) { %> 
              <div class="div-runitem">
                <button type="button" class="btn btn-link btn-gene-list" data-id="<%=i%>"><%=i+1%>번 유전자 - 점수 <%=info[i].geneScore%></button>
              </div>  
            <%} %>
          </div>
      </div>
      <p></p>
    </div>
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <%- include tail.ejs %>
    <script src="/static/js/randomcolor.min.js"></script>
    <script src="/static/js/run-gene.js"></script>
  </body>
</html>
