<!DOCTYPE html>
<html lang="ko">
  <%- include head.ejs %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script>var id='<%=id%>'</script>
  <body>
    <%- include nav.ejs %>
    <div id="content" class="container">
      <div class="container">
        <div class="row row-menu">
            <ol class="breadcrumb">
                <li><a href="/run-list/">결과 목록</a></li>
                <li ><a href="/run-detail/<%=id%>"><%=id%></a></li>
                <li class="active"><a href="#">입력 데이터</a></li>
            </ol>
        </div>
        <div class="row">
            <h1><%=title%></h1>
        </div>
        <p></p>
        <div class="row">
            <h3>수업</h3>
        </div>
        <div class="row">
            <%
            classPerDay=12
            function dayStringKor(num) {
                switch(Math.floor(num/classPerDay)) {
                    case 0:
                        return '월';
                    case 1:
                        return '화';
                    case 2:
                        return '수';
                    case 3:
                        return '목';
                    case 4:
                        return '금';
                }
            }
            %>
            <%for(var key of Object.keys(input['subjects'])) {%>
                <table class="table" id="c<%=input['subjects'][key]['id']%>">
                    <thead>
                        <tr>
                            <th><%=input['subjects'][key]["name"]%></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 20%" scope="row">ID</th>
                            <td><%=input['subjects'][key]['id']%></td>
                        </tr>
                        <tr>
                            <th style="width: 20%" scope="row">수업 길이</th>
                            <td><%=input['subjects'][key]['len']%></td>
                        </tr>
                        <tr>
                            <th style="width: 20%" scope="row">가능 시간</th>
                            <td>
                                <%for(time of input['subjects'][key]['timeConstraints']) {%>
                                    <%=dayStringKor(time[0])%> <%=time[0]%12+1%>~<%=time[1]%12+1%>교시 
                                <%}%>
                            </td>
                        </tr>
                        <tr>
                            <th style="width: 20%" scope="row">강의실</th>
                            <td><a href="#r<%=input['rooms'][input['subjects'][key]['room']]['id']%>"><%=input['rooms'][input['subjects'][key]['room']]['name']%></a></td>
                        </tr>
                    </tbody>
                </table>
            <%}%>
        </div>
        <p></p>
        <div class="row">
            <h3>학생</h3>
        </div>
        <div class="row">
            <%for(var key of Object.keys(input['people'])) {%>
                <table class="table">
                    <thead>
                        <tr>
                            <th><%=input['people'][key]["name"]%></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 20%" scope="row">수강 과목</th>
                            <td>
                                <%for(var cl of input['people'][key]['classes']) {%>
                                    <a href="#c<%=cl%>"><%=input['subjects'][cl]["name"]%></a>&nbsp;
                                <%}%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            <%}%>
        </div>
        <p></p>
        <div class="row">
            <h3>교실</h3>
        </div>
        <div class="row">
            <%for(var key of Object.keys(input['rooms'])) {%>
                <table class="table" id="r<%=input['rooms'][key]['id']%>">
                    <thead>
                        <tr>
                            <th><%=input['rooms'][key]["name"]%></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th style="width: 20%" scope="row">ID</th>
                            <td><%=input['rooms'][key]['id']%></td>
                        </tr>
                    </tbody>
                </table>
            <%}%>
        </div>
      </div>
    </div>
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <%- include tail.ejs %>
    <script src="/static/js/input-detail.js"></script>
  </body>
</html>
