<!DOCTYPE html>
<html lang="ko">
  <%- include head.ejs %>
  <body>
    <%- include nav.ejs %>
    <div class="container">
      <div class="container">
        <div class="row">
            <h1><%=title%></h1>
        </div>
        <p></p>
        <% if(files.length===0) { %>
          <h4>결과가 없습니다!</h4>
        <%}%>
        <% for(i=0;i<files.length;i++) { %> 
          <div class="div-runitem">
            <button type="button" class="btn btn-primary" onclick="location.href='<%='/run-detail/'+files[i]%>';">수행 ID <%=files[i]%></button>
          </div>  
        <%} %>
      </div>
    </div>
    <%- include tail.ejs %>
  </body>
</html>
